* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center ;
    justify-content: center;
}

.calBox{
        background-color: lightblue;  
        padding: 20px;
        border-radius: 10px;
}

.calBox form input{
    border: none;
    outline: 0;
    margin: 10px;
    font-size: 20px;
    border-radius: 2px;
    height: 50px;
    width: 50px;
    background: transparent;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
form .display input{
    font-size: 20px;
    text-align: right;
    flex: 1;
    box-shadow: none;
} 

form input.equal{
    width: 120px;
}